/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  color: #34495e;
  font-size: 15px;
  line-height: 1.6;
  background-color: #fff;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; }

ul.nav,
ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul {
  margin: 1rem 0; }

a, a:active {
  color: #2c3e50;
  text-decoration: none; }

a.nav-list-link.active,
a.nav-list-link:hover,
a.post-title-link:hover {
  border-bottom: 2px solid #f44336; }

hr {
  border: 0; }

code {
  margin: 0 2px;
  padding: 3px 5px;
  color: #e96900;
  border-radius: 2px;
  white-space: inherit; }

iframe, video {
  max-width: 100%;
  margin: 1rem auto;
  display: block; }

table {
  width: 100%; }
  table thead {
    background-color: #ddd; }
    table thead th {
      padding: 5px; }
  table tbody tr:nth-child(2n) {
    background-color: #eee; }
  table tbody td {
    padding: 5px; }

header {
  min-height: 60px; }
  header .logo-link {
    float: left; }
  header .nav {
    float: right;
    left: 80px; }
  header .logo-link img {
    height: 60px; }
  header .nav-list-item {
    display: inline-block;
    padding: 19px 10px; }
    header .nav-list-item a {
      font-size: 16px;
      line-height: 1.4; }

.home.post-list {
  margin: 2em 0; }
  .home.post-list .post-list-item {
    padding: 1em 0 2em;
    border-bottom: 1px solid #ddd; }
    .home.post-list .post-list-item:last-child {
      border-bottom: 0px; }
  .home.post-list .post-content h2:before, .home.post-list .post-content h3:before, .home.post-list .post-content h4:before, .home.post-list .post-content h5:before, .home.post-list .post-content h6:before {
    content: ''; }
  .home.post-list .post-content > ul {
    list-style: initial; }
  .home.post-list .read-more {
    color: #f44336; }

.archive {
  max-width: 500px;
  margin: 5em auto; }
  .archive .post-item {
    padding: 2px 0 0 50px; }
  .archive .post-time,
  .archive .post-title-link {
    font-size: 1rem; }
  .archive .post-title-link {
    display: block;
    margin-left: 125px;
    color: #f44336;
    word-break: break-all; }
    .archive .post-title-link:hover {
      border-bottom: 0;
      color: #267B54; }
  .archive .post-time {
    float: left;
    width: 125px;
    color: #7f8c8d; }

.post {
  padding-top: 1em; }

.post-block .post-title {
  margin: 0.65em 0;
  color: #2c3e50;
  font-size: 1.5em; }
.post-block .post-time {
  color: #7f8c8d;
  margin: 1.2em 0; }

.post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  position: relative;
  margin: 1em 0; }
  .post-content h2:before, .post-content h3:before, .post-content h4:before, .post-content h5:before, .post-content h6:before {
    content: "#";
    color: #f44336;
    position: absolute;
    left: -0.7em;
    top: -4px;
    font-size: 1.2em;
    font-weight: bold; }
.post-content h4:before, .post-content h5:before, .post-content h6:before {
  content: ""; }
.post-content h2, .post-content h3 {
  font-size: 22px; }
.post-content h4, .post-content h5, .post-content h6 {
  font-size: 18px; }
.post-content a {
  color: #f44336; }
.post-content blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #f44336; }
.post-content img {
  display: block;
  max-width: 100%;
  margin: 1em auto; }
.post-content .tip {
  position: relative;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #f8f8f8; }
  .post-content .tip br {
    display: none; }
.post-content .tip:before {
  position: absolute;
  top: 14px;
  left: -12px;
  content: "!";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #f66;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; }

code,
pre {
  font-size: 0.8em;
  background-color: #f8f8f8;
  font-family: 'Roboto Mono', Monaco, courier, monospace; }

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  overflow-x: auto; }
  .highlight table, .highlight tr, .highlight td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0; }
  .highlight .gutter {
    display: none; }
  .highlight .code pre {
    padding: 1.2em 1.4em;
    line-height: 1.5em;
    margin: 0; }

.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

.highlight.html .code:after {
  content: "HTML"; }

.highlight.js .code:after {
  content: "JS"; }

.highlight.bash .code:after {
  content: "BASH"; }

.highlight.css .code:after {
  content: "CSS"; }

.highlight.scss .code:after {
  content: "SCSS"; }

.highlight.diff .code:after {
  content: "DIFF"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.xml .code:after {
  content: "XML"; }

.highlight.python .code:after {
  content: "PYTHON"; }

.highlight.json .code:after {
  content: "JSON"; }

.highlight.swift .code:after {
  content: "SWIFT"; }

.highlight.ruby .code:after {
  content: "RUBY"; }

.highlight.perl .code:after {
  content: "PERL"; }

.highlight.php .code:after {
  content: "PHP"; }

.highlight.c .code:after {
  content: "C"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.cpp .code:after {
  content: "CPP"; }

.highlight.cpp .code:after {
  content: 'C++'; }

pre {
  color: #525252; }
  pre .function .keyword,
  pre .constant {
    color: #0092db; }
  pre .keyword,
  pre .attribute {
    color: #e96900; }
  pre .number,
  pre .literal {
    color: #ae81ff; }
  pre .tag,
  pre .tag .title,
  pre .change,
  pre .winutils,
  pre .flow,
  pre .lisp .title,
  pre .clojure .built_in,
  pre .nginx .title,
  pre .tex .special {
    color: #2973b7; }
  pre .symbol,
  pre .symbol .string,
  pre .value,
  pre .regexp {
    color: #f44336; }
  pre .title {
    color: #83B917; }
  pre .tag .value,
  pre .string,
  pre .subst,
  pre .haskell .type,
  pre .preprocessor,
  pre .ruby .class .parent,
  pre .built_in,
  pre .sql .aggregate,
  pre .django .template_tag,
  pre .django .variable,
  pre .smalltalk .class,
  pre .javadoc,
  pre .django .filter .argument,
  pre .smalltalk .localvars,
  pre .smalltalk .array,
  pre .attr_selector,
  pre .pseudo,
  pre .addition,
  pre .stream,
  pre .envvar,
  pre .apache .tag,
  pre .apache .cbracket,
  pre .tex .command,
  pre .prompt {
    color: #f44336; }
  pre .comment,
  pre .java .annotation,
  pre .python .decorator,
  pre .template_comment,
  pre .pi,
  pre .doctype,
  pre .shebang,
  pre .apache .sqbracket,
  pre .tex .formula {
    color: #b3b3b3; }
  pre .deletion {
    color: #BA4545; }
  pre .coffeescript .javascript,
  pre .javascript .xml,
  pre .tex .formula,
  pre .xml .javascript,
  pre .xml .vbscript,
  pre .xml .css,
  pre .xml .cdata {
    opacity: 0.5; }

.paginator {
  margin: 4em 0;
  text-align: center; }
  .paginator .prev, .paginator .next {
    display: inline-block;
    margin: 0 4px;
    padding: 4px 12px;
    border-radius: 4px;
    border-bottom: 4px solid #3aa373;
    font-size: 14px;
    color: #fff;
    background-color: #4fc08d; }
    .paginator .prev:hover, .paginator .next:hover {
      background-color: #22bd77; }

.ds-thread,
#disqus_thread {
  margin-bottom: 2em; }

section.container {
  margin: 2em 10px; }

@media screen and (min-width: 700px) {
  body {
    width: 700px;
    margin: 0 auto; }

  header {
    padding: 20px 100px; } }
@media screen and (max-width: 700px) {
  body {
    width: 100%; }

  header {
    padding: 20px 0; }
    header a.logo-link,
    header ul.nav.nav-list {
      float: none;
      display: block;
      text-align: center; }
    header li.nav-list-item {
      padding: 10px 10px; }

  section.container,
  .home.post-list,
  .archive {
    margin-top: 0; }

  .archive .post-item {
    padding-left: 20px; }

  .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    max-width: 300px;
    left: 15px; }

  .ds-thread,
  #disqus_thread {
    margin: 2em 10px; } }
.copyright {
  margin: 4em 0;
  border-top: 1px solid #ddd;
  text-align: center; }
  .copyright p, .copyright a {
    color: #aaa;
    font-size: 14px;
    font-weight: 100; }
  .copyright a:hover {
    color: #888; }

/*# sourceMappingURL=apollo.css.map */
